body {
	background: #F6F1EE;
	color: #333;
	font-family: sans-serif;
	font-size: 15px;
}

#wrapper {
	background: pink;
	width: 1330px;
	margin: 20px auto;
}

#wrapper header {
	background: #4F4A45;
	padding: 20px;
}

#wrapper header hgroup {
	float: left;
	color: #FAF8ED;
}

#wrapper header nav {
	float: right;
	margin-top: 50px;
}

#wrapper header nav ul {
	padding: 0;
	margin: 0;
}

#wrapper header nav ul li {
	float: left;
	list-style: none;
}

#wrapper header nav ul li a {
	padding: 15px;
	color: #FAF8ED;
	text-decoration: none;
}

.clear {
	clear: both;
}

footer {
	background: #4F4A45;
	padding: 20px;
}

footer a {
	color: #FAF8ED;
	text-decoration: none;
}

section {	
	margin: 20px;
	padding: 20px;
}


h4{
	font-family: comic sans-ms;
	font-size: 20px;
	color: black;
}

img{
	border-radius: 20px;
}